* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*global*/

@font-face {
  font-family: "playregular";
  src: url("assets/fonts/Play-Regular.ttf");
}

p {
  font-size: 1em;
}

h3 {
  font-family: playregular;
  color: rgb(0, 195, 255);
}

h4 {
  font-family: playregular;
  font-size: 0.9em;
}

& > {
  margin: 0 0 0.5rem 0;
}

ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-image: url(assets/background/electric\ backgrounf.gif);
  background-repeat: repeat;
}

:root {
  --color-primary: rgb(00, 00, 00);
  --color-accent-1: rgb(64, 114, 150);
  --color-accent-2: rgb(6, 174, 225);
  --color-accent-3: rgb(255, 255, 255);
}

/* Layout */

.wrapper {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0.5rem;
}

#scrollToTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  border: 3px solid rgba(163, 163, 163, 0.82);
  cursor: pointer;
  background-color: rgb(0, 0, 0);
}

@media (min-width: 60rem) {
}

@media (min-width: 23rem) {
  .gallery__image {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
}

/*header*/

header {
  display: block;
  justify-content: center;
  background-color: rgb(00, 00, 00);
  padding: 0.5rem;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.banner__image {
  width: 100%;
}

.nav_buttons {
  display: flex;
  justify-content: center;
  gap: 0.6em;
  margin-top: 1rem;
}
#nav__menu {
  font-size: 0.9rem;
  font-family: "Courier New", Courier, monospace;
  box-shadow: 0px 0px 2px 2px #27b9e6;
  background: linear-gradient(to bottom, #495557 5%, #4b72a3 100%);
  background-color: #696969;
  border-radius: 2px;
  border: 1px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: var(--color-accent-3);
  padding: 0em 0.5em;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
}

#nav__menu:hover,
button:focus-visible {
  background: rgba(0, 255, 251, 0.744);
  transform: translate(0.1rem, -0.5ex);
}

/*main Home*/

.section {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin: 1rem 1rem;
  color: var(--color-accent-3);
  background-color: black;
  align-items: center;
  text-align: start;
  border: 3px solid var(--color-accent-2);
  -webkit-box-shadow: 0px 0px 10px 3px rgba(3, 217, 255, 0.53);
  -moz-box-shadow: 0px 0px 10px 3px rgba(3, 217, 255, 0.53);
  padding: 1rem;
}

.section__paragraph {
  margin-top: 0.2rem;
}

.gallery__video {
  width: 100%;
}

.gallery__image {
  width: 50%;
  height: auto;
  border: 1px solid var(--color-accent-2);
  float: right;
  position: inherit;
  margin-left: 1rem;
}

.section__heading {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  color: var(--color-accent-2);
}
.available {
  margin: auto;
  width: 100%;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
}

.available img {
  width: 20%;
  display: flex;
  align-items: center;
}

/*story Layout*/

.marquee {
  height: 1rem;
  width: auto;
  color: var(--color-accent-2);
  overflow: hidden;
  position: relative;
  background-color: darkslategrey;
  font-family: "Courier New", Courier, monospace;
}

.marquee div {
  display: block;
  width: 200%;
  height: 30px;
  position: absolute;
  overflow: hidden;

  animation: marquee 10s linear infinite;
}

.marquee span {
  float: left;
  width: 50%;
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

.story__img {
  height: auto;
  position: relative;
  display: block;
  margin: auto;
  width: 80%;
  margin-top: 1em;
}

/* Characters Layout*/

#menu__sub {
  box-shadow: 4px 13px 10px -12px #276873;
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color: rgb(89 155 179);
  border-radius: 11px;
  display: inline-block;
  cursor: pointer;
  color: var(--color-accent-3);
  font-size: 0.7em;
  padding: 0.5em 0.5em;
  text-decoration: none;
  text-shadow: 0px -2px 0px rgb(61 118 138);
}

.character {
  column-gap: 1em;
  row-gap: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem 1rem;
  text-align: center;
}

.modal_img {
  border: 4px inset rgba(163, 163, 163, 0.82);
  height: auto;
}

.modal_img:hover {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}
@-webkit-keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.modal__item {
  width: 50%;
  height: auto;
  margin-top: 1em;
}

.modal__container {
  padding: 0.5em;
  max-width: 40vh;
  border: 0;
  box-shadow: 0 0 1em rgb(0 0 0 / 0.7);
  background-color: black;
  border: 2px solid var(--color-accent-2);
  color: var(--color-accent-3);
  margin-top: 0.5em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 18rem;
}

.modal__container::backdrop {
  background: rgb(0 0 0 / 0.7);
}

/*Inside Modal */
.modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  margin: 0.4em 0.4em 0.4em 0.4em;
  gap: 0.3em;
  justify-content: center;
  align-items: center;
  display: flex;
}

#close_btn {
  font-size: 0.9rem;
  font-family: "Courier New", Courier, monospace;
  box-shadow: 0px 0px 2px 2px #27b9e6;
  background: linear-gradient(to bottom, #78b7c2 5%, #4b72a3 100%);
  background-color: #78b7c2;
  border-radius: 2px;
  border: 1px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: var(--color-accent-3);
  padding: 0em 0.5em;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
}

/*battle layout*/

.battle_img {
  height: auto;
  position: relative;
  display: block;
  margin: auto;
  width: 80%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.gf_img {
  height: auto;
  position: relative;
  display: block;
  margin: auto;
  width: 80%;
  margin-top: 1em;
  margin-bottom: 1em;
}

/*footer*/

.site__footer {
  margin: auto;
  display: block;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.footer__logo {
  width: 30%;
  display: flex;
  align-items: center;
  margin: auto;
  margin-bottom: 2em;
}

.footer__playlist {
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 1em;
  border-bottom: 1px solid;
}
